*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-basis-30{
    flex-basis: 30%;
}

.flex-basis-33{
    flex-basis: 33%;
    height: calc(100% / 3);
}

.flex-basis-50{
    flex-basis: 50%;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.width-80-margin-auto{
    width: 80%;
    margin: 0 auto;
}

.width-60-margin-auto{
    width: 60%;
    margin: 0 auto;
}

.width-50-margin-auto{
    width: 50%;
    margin: 0 auto;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.z-index-999{
    z-index: 999;
}

.overflow-auto{
    overflow: auto;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block;
}

.display-none{
    display: none;
}

.list-style-none{
    list-style: none;
}

.text-decoration-none{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.bg-white{
    background-color: #fff;
}

.bg-black{
    background-color: #000000;
}

.bg-grey{
    background: #4a4a4a;
}

.bg-white-smoke{
    background-color: #f5f5f5;
}

.bg-rich-electric-blue{
    background-color: #0093ce;
}

.bg-deep-sky-blue{
    background-color: #0084fd;
}

.bg-lapis-blue{
    background-color: #0d2481;
}

.bg-light-blue{
    background-color: #b5ddff;
}

.bg-Light-blue-grey{
    background-color: #b4d0e7;
}

.bg-pale-purple{
    background-color: #9792e4;
}

.bg-light-green{
    background-color: #a2d39b;
}

.bg-black-rose{
    background-color: #61082b;
}

.bg-ruby-red{
    background-color: #ff1c1c;
}

.bg-cherry-red{
    background-color: #d5001f;
}

.bg-sun-yellow{
    background-color: #ffd830;
}

.c-green{
    color: #4bc800;
}

.c-white{
    color: #fff;
}

.c-black{
    color: #000000;
}

.c-grey{
    color: gray;
}

.c-jet-grey{
    color: #5d7183;
}

.c-blue{
    color: #0084fd;
}

.c-black-rose{
    color: #61082b;
}

.width-20-pc{
    width: 20%;
}

.width-30-pc{
    width: 30%;
}

.width-35-pc{
    width: 35%;
}

.width-45-pc{
    width: 45%;
}
.width-50-pc{
    width: 50%;
}

.width-60-pc{
    width: 60%;
}

.width-70-pc{
    width: 70%;
}

.width-80-pc{
    width: 80%;
}

.width-100-pc{
    width: 100%;
}

.font-size-10{
    font-size:  10px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-15{
    font-size: 15px;
}

.font-size-20{
    font-size: 20px;
}

.font-size-25{
    font-size: 25px;
}

.font-size-30{
    font-size: 30px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-80{
    font-size: 80px;
}

.padding-5{
    padding: 5px;
}

.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}

.padding-30{
    padding: 30px;
}

.padding-top-60{
    padding-top: 60px;
}

.padding-bottom-60{
    padding-bottom: 60px;
}

.padding-top-l-r-20{
    padding: 20px 20px 0 20px;
}

.padding-l-r-20{
    padding: 0 20px;
}

.padding-t-b-20{
    padding: 20px 0;
}

.margin-auto{
    margin: auto;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-top-80{
    margin-top: 80px;
}

.margin-top-100{
    margin-top: 93px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-right-40{
    margin-right: 40px;
}

.margin-left{
    margin-left: 40px;
}

.button-white{
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #fff;
}

.button-blue{
    padding: 8px 50px;
    border-radius: 20px;
    background-color: #0084fd;
}

.button-grey{
    border: 2px solid #6a6a6a;
}

.border-1px-black{
    border: 1px solid black;
}

.border-radius-20{
    border-radius: 20px;
}

.border-radius-50{
    border-radius: 50px;
}

.hr-10-pc{
    width: 30%;
}

.text-indent-17{
    text-indent: -17px;
}

.line-height-2{
    line-height: 2;
}